*,::before,::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    
   
}

img {
    width: 100%;  
    border-top-left-radius: 10px;
    border-bottom-left-radius: 8px;
    height: 100%;
}

.image {
    flex: 1.1;   
    height: 100%;
    background-color: green;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.media {
    display: flex;
    background-color: white;
    width: 470px;
    align-items: flex-start;
    height: 330px;
    border-radius: 8px;
}

.media .content {
    padding: 15px;
    flex: 1;
}

.content {    
    height: 100%;
}

h1 {
    line-height: 1.8rem;
    margin-top: 15px;
    font-family: "Fraunces", serif;
}

.content p:nth-of-type(2){
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
}

.price {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-family: "Fraunces", serif;
}

.price p:nth-of-type(1){
    font-size: 1.5rem;
    color: hsl(158, 36%, 37%);
}

button p {
    color: white;
}



div.content > :first-child, .price p:nth-of-type(2), .content p:nth-of-type(2){
    color: hsl(228, 12%, 48%);
}

.price p:nth-of-type(2){
    text-decoration: line-through;
    font-size: 0.7rem;
    margin-right: 60px;
    margin-top: 8px;
    
}

svg {
    color: white;
}

button {
    display: flex;
    justify-content: center;
    gap: 5px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}



.attribution {
    position: absolute;
    bottom: 40px;
}